{% extends 'base.html.twig' %}

{% block title %}Eleve index{% endblock %}

{% block body %}
    <h1>Eleve index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Formation</th>
                <th>photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr>
                <td>{{ eleve.id }}</td>
                <td>{{ eleve.email }}</td>
                <td>{{ eleve.roles ? eleve.roles|json_encode : '' }}</td>
                <td>{{ eleve.password }}</td>
                <td>{{ eleve.name }}</td>
                <td>{{ eleve.firstname }}</td>
                <td>{{ eleve.formation }}</td>
                <td>{{ eleve.photo }}</td>
                <td>
                    <a href="{{ path('app_eleve_crud_show', {'id': eleve.id}) }}">show</a>
                    <a href="{{ path('app_eleve_crud_edit', {'id': eleve.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_eleve_crud_new') }}">Create new</a>
{% endblock %}
