{% extends 'base.html.twig' %}

{% block title %}Hello LesFormationController!{% endblock %}

{% block body %}
    <h2>Stagiaires</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}
    <div class="row row-cols-3">
    {% for eleve in eleve %}
        <div class="col">
            <div class="rounded bg-light me-1 p-3">
                <a href="{{ path('app_Lesformation_index', {'id': eleve.id}) }}"><img class="img-fluid " src="{{ asset('uploads/photos/' ~ eleve.photo) }}"></a>
                <div class="p3">
                    <h3>{{ eleve.firstname }} {{ eleve.name }}</h3>
                    <p>{{ eleve.idCursus.cursus }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <p>no records found</p>
    {% endfor %}
    </div>
				

</div>
{% endblock %}
